@model List<JMSmedical.Models.Product>

<h2>Products</h2>
<div class="product-list">
    @foreach (var product in Model)
    {
        <div class="product-item">
            <img src="@product.ImageUrl" width="100" height="100" />
            <h3>@product.Name</h3>
            <p>Price: ₹@product.Price</p>
            <a href="@Url.Action("Details", "Home", new { id = product.Id })" class="btn btn-primary">Process to Checkout</a>
        </div>
    }
</div>


