https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css 
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navbar-brand {
    font-weight: bold;
    font-size: larger;
    margin-left: 5px;
    margin-top: 1px;
}

.navbar-brand span {
    margin-left: 5px;
    margin-top: 3px;
    font-size: smaller;
}
.img-fluid {
    border-radius: 10px;
    padding: 10px;
}

.text-center {
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.nav-item1{
    left:30px;
}